   
<div class="containter" *ngIf="submitting_ad">
  <div class="well">
 <h2>Submitting your car add. pleaes wait.....
  </h2>

  </div>
  
</div>

<div class="container" *ngIf="!submitting_ad">
     <form #form="ngForm" novalidate>
        <div class="card-header">
        <h2>New Car Advertisment</h2>
        <hr/>
        </div>
       
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group" [class.has-error]="modelYear.invalid && modelYear.touched">
              <label for="modelYear" class="control-label">Car Model Year(*) </label>
              <input type="text" id="modelYear" required type="text" class="form-control" #modelYear="ngModel" name="model.car_model_year"
                [(ngModel)]="model.car_model_year" />

              <div class="help-block with-errors" *ngIf="modelYear.invalid && modelYear.touched">

                Please enter the car modal year.
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label for="carMake">Car Make*</label>
              <select class="form-control" name="model.car_make_id" [(ngModel)]="selectedCarMakeId" (blur)="onMakeSelect($event.target.value)">
                <option *ngFor="let make of carMakes" [value]="make._id">
                  {{make.car_make}}
                </option>
              </select>
              <span *ngIf="showOtherCarMake">
                <input type="text" class="form-control" name="other" [(ngModel)]="otherCarMakeName" placeholder="Please type other car make name"
                />
              </span>
              <div class="help-block with-errors">


              </div>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label for="carModal">Car Model</label>
              <select class="form-control" name="model.car_model_id" [(ngModel)]="selectedCarModelId" (blur)="onCarModelSelect($event)">
                <option *ngFor='let model of carModels' [value]="model._id">{{model.car_model_name}}</option>
              </select>
              <span *ngIf="(showOtherCarMake || showOtherCarModel)">
                <input type="text" class="form-control" name="otherCarModelName" [(ngModel)]="otherCarModelName" placeholder="Please type other car model name"
                />
              </span>
              <div class="help-block with-errors">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label>KM's Driven</label>
              <input type="text" class="form-control" name="model.km_driven" [(ngModel)]="model.km_driven" required />

              <div class="help-block with-errors">



              </div>
            </div>
          </div>
        </div>


        <div class="row">

          
          <div class="col-md-6">
            <div class="form-group">
            <label>Car Price(*) in lacks</label>
            <input type="text" id="price" class="form-control" pattern="^[0-9]*\.[0-9]*$" name="model.car_price" [(ngModel)]="model.car_price" #price="ngModel"
            required 
            placeholder="8.20  means 8 Lacks and twenty thousands."
            
            />
            <div class="help-block with-errors">
                <div *ngIf="price.errors && (price.dirty || price.touched)">
                  <div [hidden]="!price.errors.pattern">
                    The price is not in the right formate. It should be like 4.10.
                    4.10 means 4 Lacks and Ten Thousands.
                  </div>
              </div>
                
  
              </div>
          </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
          <label>Registration Type(*)</label>
          <select class="form-control" name="model.car_registration_type" [(ngModel)]="model.car_registration_type"  required> 
              <option>NCP Cut</option>
              <option>NCP Non-Cut</option>
              <option>Custom Paid</option>
             
            </select>
          </div>

        </div>
       
        </div>
       
        <div class="row">
         
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label">Seller Comments (*)</label>
                <textarea id="comments"  rows="3" class="form-control" name="model.car_description" [(ngModel)]="model.car_description"></textarea>
                <div class="help-block with-errors">
                </div>
              </div>
            </div>
        </div>

        
        
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label>Engine Type(*)</label>
                <select class="form-control" name="model.car_engine_type" [(ngModel)]="model.car_engine_type">
                  <option>Petrol</option>
                  <option>Diesel</option>
                  <option>CNG</option>
                  <option>Hybrid</option>
                </select>



                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label class="col-form-label">Transmission Type (*)</label>
                <select class="form-control" name="model.car_transmission_type" [(ngModel)]="model.car_transmission_type">
                  <option>Manual</option>
                  <option>Automatic</option>

                </select>

              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label for="form_message"> Engine Capacity(*)</label>
                <input type="text" class="form-control" name="model.car_engine_capacity" [(ngModel)]="model.car_engine_capacity" required
                />


                <div class="help-block with-errors">


                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label class="col-form-label">Select Photos </label>
                <input type="file" (change)="onFileSelect($event)" name="car_image" multiple>
                <br/>
                <!-- <span [innerHTML]="result">

                </span> -->

                <div class="help-block with-errors">


                </div>

              </div>
            </div>


          </div>
        
        
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label for="form_message"> Mobile Number(*)</label>
              <input type="text" class="form-control" name="model.contact_number" [(ngModel)]="model.contact_number" />

              <div class="help-block with-errors">



              </div>
            </div>
          </div>
        
        </div>
       
       <div class="row">
         <div class="form-group">
         <div class="col-md-6 col-xs-12">

          <Button type="submit" class="btn btn-outline-primary" (click)="register()" [disabled]="form.invalid">
           Submit Ad
          </Button>
        </div>
        </div>
      </div>
    

     </form>
</div>



  
