
<!-- Test Comments -->
<main id="content" role="main">
  
  <div class="container" id="frontpage-section-products">
    <div class="container frontpage-section-products-category">
      <h3>What You Can Find Here</h3>
      <div class="row row-products">
        <div class="col-md-4 product-col">
          <h4>Vehicle</h4>
          <div class="product-description">
            Find a car of your choice , within thousands of cars.Post your car ad for free to sell your car.
          </div>
          <a href="products/pdf/info.php" class="btn btn-primary btn-col-md-4">Read more</a>
        </div>
        <div class="col-md-4 product-col">
          <h4>Books</h4>
          <div class="product-description">
            Find college,university ,CSS, PCS and other books at a cheap price.Also you can sell your books for posting a free ad here.
          </div>
          <a href="products/stu" class="btn btn-primary btn-col-md-4">Read more</a>
        </div>
        <div class="col-md-4 product-col">
          <h4>Mobiles</h4>
          <div class="product-description">
            Find nokia, qmobile, Samsong and all types of mobiles here.
          </div>
          <a href="products/ptw/info.php" class="btn btn-primary btn-col-md-4">Read more</a>
        </div>
        <div class="col-md-4 product-col">
          <h4>PDF to Word converter</h4>
          <div class="product-description">
            This program can convert your existing PDF documents to Microsoft Word format. This means that you can open and edit the
            resulting documents in Word.
          </div>
          <a href="products/p2w/info.php" class="btn btn-primary btn-col-md-4">Read more</a>
        </div>
      </div>
    </div>
    <div class="container frontpage-section-products-category">
      <h3>What Ads You Can Post</h3>
      <div class="row row-products">
        <div class="col-md-4 product-col">
          <h4>Vehicles</h4>
          <div class="product-description">
            You can post an ad for your car,vehicles and motorbikes and sell fastly.
          </div>
          <a href="products/dac/info.php" class="btn btn-primary btn-col-md-4">Read more</a>
        </div>
        <div class="col-md-4 product-col">
          <h4>Books</h4>
          <div class="product-description">
            You can post an ad for your your books,where it no longer in your use and want to sell it so other can use it.
          </div>
          <a href="products/a2m/info.php" class="btn btn-primary btn-col-md-4">Read more</a>
        </div>
        <div class="col-md-4 product-col">
          <h4>Mobiles/Laptos/Computers</h4>
          <div class="product-description">
            You can post an ad for your mobile, laptop , desktop computer here to sell it here.
          </div>
          <a href="products/dbr/info.php" class="btn btn-primary btn-col-md-4">Read more</a>
        </div>
      </div>
    </div>
</div>

</main>



