<div class="container" *ngIf="!isDataLoaded">

  <img src="../../../assets/images/lg_loading_img.gif"/>
 

</div>



<div class="container" *ngIf="isDataLoaded">

  
  <div class="jumbotron">
    <h1 class="display-4">Search Your Favorite Car</h1>
    <p class="lead">By Price and Car Make or Model</p>
    <div class="form-group row">

      <div class="col-lg-4 col-md-3 col-xs-12">
        <div class="form-group" [class.has-error]='isValidCarMake'>
          <input id="car_make_model" class="form-control" type="text" placeholder="Car Makes or Car Models" #car_makes
            (blur)="blur_carMakes(car_makes.value)" [(ngModel)]="defaultCarMakeOrModel">
        </div>

      </div>
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="form-group" [class.has-error]='isValidPriceRange'>

          <select id="price_range" class="form-control" [(ngModel)]="defaultPriceRange" #price (blur)="blur_price(price.value)">
            <option *ngFor="let price of priceRange" [value]="price">
              {{price}}
            </option>


          </select>

        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-xs-12">

        <input id="" class="form-control btn btn-secondary" (click)="search(car_makes.value,price.value)" value="Search"
          type="button" [disabled]="((!isValidPriceRange || !isValidCarMake) || (isSearchMade))">
      </div>
      <div class="col-lg-2 col-md-3 col-xs-12">

        <input id="" class="form-control btn btn-secondary" (click)="reset()" value="reset" type="button">
      </div>
    </div>
    <hr class="my-4">
    <div *ngIf="pageItems.length==0">
      <h2>Sorry, we could not find any car ads for the price range and car model that you entered</h2>
      <p> Suggestions:</p>
      <p>Make sure car make is spell correctly like toyota , vitz are spelled correctl.
        Try another price range.
        Try another car model.</p>



    </div>

    <div class="row well" *ngFor='let ad of pageItems'>
      <div class="col-md-4">
          <img src="{{image_baseUrl}}\{{ad.car_image[0]}}" style="width:100%;height:100%;" />
      </div>
      <div class="col-md-6">
            <div>
              <h4> <a [routerLink]="[ '/car_ad_details',ad._id ]">{{ad.car_make.make_name}} {{ad.car_make.model_name}} {{ad.car_model_year}} for Sale</a> </h4>
              
             


            </div>
            <div>

                {{ad.car_model_year}} | {{ad.car_km_driven}} km | {{ad.car_engine_type}} | {{ad.car_engine_capacity}} |{{ad.car_transmission_type}}
                
                <span *ngIf="ad.car_registration_type">|{{ad.car_registration_type}}</span>
    
            </div>
            <div>
                <h5>PKR:{{ad.car_price}} lacks</h5>

            </div>

      </div>
      

    </div>
    <nav aria-label="Page navigation example" class="table-responsive mb-2">
        <ul class="pagination justify-content-center" *ngIf="pager.pages && pager.pages.length" >
          <li [ngClass]="{'page-item disabled':pager.currentPage === 1 }">
                <a class="page-link" (click)="setPage(1)" tabindex="-1">First</a>
          </li>
          <li [ngClass]="{'page-item disabled':pager.currentPage === 1 }">
            <a class="page-link" (click)="setPage(pager.currentPage-1)" tabindex="-1">Previous</a>
          </li>
          
          <li *ngFor="let page of pager.pages" [ngClass]="{'page-item active':pager.currentPage === page}">
              <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
         
        <li [ngClass]="{'page-item disabled':pager.currentPage === pager.totalPages }">
          <a class="page-link" (click)="setPage(pager.currentPage+1)" tabindex="-1">Next</a>
        </li>
        <li [ngClass]="{'page-item disabled':pager.currentPage === pager.totalPages }">
            <a class="page-link" (click)="setPage(pager.totalPages)" tabindex="-1">Last</a>
      </li>
        </ul>
      </nav>




    <!-- <div class="table-reponsive">
            <table class="table table-dark" *ngIf="pageItems && pageItems.length">
              <thead>
                <tr>
    
                  <th>
    
                  </th>
                  <th>
                    Car Made
                  </th>
                  <th>
                    Car Model
                  </th>
                  <th>
                    Car Model Year
                  </th>
                  <th>
                    Price
                  </th>
                  <th>
                    View Detail
                  </th>
    
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let ad of pageItems'>
                  <td>
                    <img src="{{image_baseUrl}}\{{ad.car_image[0]}}" width="200px" height="100px" class="img-responsive" />
                  </td>
                  <td>{{ad.car_make.make_name}}</td>
                  <td>{{ad.car_make.model_name}}</td>
                  <td>{{ad.car_model_year}}</td>
                  <td>{{ad.car_price }} Lacks</td>
    
                  <td>
    
                    <a [routerLink]="['/car_ad_details',ad._id]">View Detail</a>
    
                </tr>
    
              </tbody>
            </table>
      </div> -->

    
  </div>

</div>
