<div class="form-group">
    <label for="car_make">Car Make</label>
    <select class="form-control" [(ngModel)]="car_make_id" (change)="onMakeSelect()" *ngIf="!hideCarMakeDDL">
        <option *ngFor="let make of allCarMakes" [value]="make._id" >
                {{make.car_make}}
        </option>
    </select>

</div>

<div class="row">

    <div class="col-md-8">
        <select id="my-input" class="form-control" *ngIf="!hideCarModelDDL" [(ngModel)]="car_model_id"  (blur)="onModelSelect()" > 
                <option *ngFor="let item of allCarModels" [value]="item._id">{{item.car_model_name}}</option>
                
        </select>
        
        <!-- <span  class="form-control" [class.hidden]="hideCarModelText"> Vitz</span> -->
        <input type="text" class="form-control" placeholder="edit car model name" name="edit_model_name" id="editMe" #model_name [(ngModel)]="car_model_name" *ngIf="!hideEditText" >
        <input type="text" class="form-control" placeholder="car model name" *ngIf="!hideAddText"  name="new_car_model" #car_model [(ngModel)]="new_car_model_name" > 
        
    </div>
   

</div>
<div class="form-group row">

    <div class="col-md-8 form-group">
            <button class="btn btn-secondary" *ngIf="!hideSaveButton" (click)="save()">Save</button>
            <button class="btn btn-secondary" *ngIf="!hideCancelButton" (click)="cancelClick()">Cancel</button>
            <button class="btn btn-secondary" *ngIf="!hideEditButton" (click)="setEditState()">Edit</button>
            <button class="btn btn-secondary" *ngIf="!hideDeleteButton" (click)="deleteClick()">Delete</button>
            <button class="btn btn-secondary" *ngIf="!hideAddButton" (click)='addClick()'>Add</button>
    </div>
        

</div>







