<div class="" id="frontpage-section-footer-menu">
    <hr>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Products</h3>
            <ul class="list-unstyled">
                <li><a href="products.php">All Products</a></li>
                <li><a href="products.php#PdfProducts">PDF Products</a></li>
                <li><a href="products.php#DatabaseProducts">Database Products</a></li>
                <li><a href="products.php#OtherProducts">Other Products</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Partners</h3>
            <ul class="list-unstyled">
                <li><a target="_blank" href="http://www.biopdf.com">BioPDF</a></li>
                <li><a target="_blank" href="http://www.fornav.com">ForNAV</a></li>
                <li><a target="_blank" href="http://www.dataceptor.com">Dataceptor</a></li>
                <li><a target="_blank" href="http://www.exemsi.com">EXEMSI</a></li>
                <li><a target="_blank" href="http://www.smtpinfo.com">SMTP Mailer</a></li>
                <li><a target="_blank" href="https://www.watermark-image.com/">Watermark Image</a></li>
                <li><a target="_blank" href="https://www.jitbit.com/?bullzip">Jitbit</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Support</h3>
            <ul class="list-unstyled">
                <li><a href="phpBB/">Forum</a></li>
                <li><a href="contact.php?mode=Support">Support Form</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Connect</h3>
            <ul class="list-unstyled">
                <li><a href="newsletter.php">Newsletter</a></li>
                <li><a href="resellers.php">Resellers</a></li>
                <li><a href="contact.php">Send us a message</a></li>
                <li><a href="about.php">About Bullzip</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
