<!-- <div class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MCZ 2018</p>
    </div>
   
  </div> -->

 <!--  <div class="jumbotron">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MCZ 2018</p>
    </div>
  </div> -->
 
     <!-- <div class="jumbotron_footer">
       <div class="container">
      <p class="" >Copyright &copy; MCZ 2018</p>
     </div>

     </div> -->
     
     <div class="footer">
       <div class="container">
      
        <p style="text-align:center ;margin:auto">Copyright &copy; MCZ 2018</p>
      </div>
      
     </div>
     <!-- <div class="footer">
      <div class="container">
        <span style="color:white" style="text-align:center">Place sticky footer content here.</span>
      </div>
     </div>
     -->
 
